# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase configuration files
FIRESTORE_RULES.txt
FIRESTORE_INDEXES.txt
INSTRUCCIONES_FIRESTORE.md
SOLUCION_GALERIA.md
# VITE_OPENAI_API_KEY=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